In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

response = requests.get('https://www.goodreads.com/list/show/6934.Science_Fiction_Books_by_Female_Authors')
doc = BeautifulSoup(response.text)

In [2]:
books = doc.find_all('tr', itemtype="http://schema.org/Book")
rows = []
for book in books:
    row ={}
    row['rank'] = book.find(class_="number").text.strip()
    row['title'] = book.find(class_="bookTitle").text.strip()
    row['author'] = book.find(class_="authorName").text.strip()
    row['score'] = book.find(onclick="Lightbox.showBoxByID('score_explanation', 300); return false;").text.strip()
    row['votes'] = book.find('a', href="#").find_next_sibling('a').text.strip()
    row['rating'] = book.find(class_="minirating").text.strip()
    rows.append(row)
#    print(rank, title, author, score, votes, rating)
df = pd.DataFrame(rows)
df.head()

,author,rank,rating,score,title,votes
0,Margaret Atwood,1,"4.09 avg rating — 1,103,055 ratings","score: 30,733",The Handmaid's Tale,314 people voted
1,Suzanne Collins,2,"4.33 avg rating — 5,742,381 ratings","score: 28,553","The Hunger Games (The Hunger Games, #1)",292 people voted
2,Mary Wollstonecraft Shelley,3,"3.78 avg rating — 1,023,619 ratings","score: 21,909",Frankenstein,224 people voted
3,Madeleine L'Engle,4,"4.01 avg rating — 903,708 ratings","score: 18,720","A Wrinkle in Time (Time Quintet, #1)",196 people voted
4,Ursula K. Le Guin,5,"4.06 avg rating — 98,822 ratings","score: 17,920",The Left Hand of Darkness (Hainish Cycle #4),184 people voted

In [3]:
df.to_csv("books.csv", index=False)

In [4]:
df = pd.read_csv("books.csv")
df.head()

,author,rank,rating,score,title,votes
0,Margaret Atwood,1,"4.09 avg rating — 1,103,055 ratings","score: 30,733",The Handmaid's Tale,314 people voted
1,Suzanne Collins,2,"4.33 avg rating — 5,742,381 ratings","score: 28,553","The Hunger Games (The Hunger Games, #1)",292 people voted
2,Mary Wollstonecraft Shelley,3,"3.78 avg rating — 1,023,619 ratings","score: 21,909",Frankenstein,224 people voted
3,Madeleine L'Engle,4,"4.01 avg rating — 903,708 ratings","score: 18,720","A Wrinkle in Time (Time Quintet, #1)",196 people voted
4,Ursula K. Le Guin,5,"4.06 avg rating — 98,822 ratings","score: 17,920",The Left Hand of Darkness (Hainish Cycle #4),184 people voted

In [5]:
import re

In [6]:
df.columns

Index(['author', 'rank', 'rating', 'score', 'title', 'votes'], dtype='object')

In [9]:
df['score'] = df['score'].str.extract(r"score\s(.*)")
df['Series'] = df['title'].str.extract(r"[(](.*\w\D)[,?|#]")
df['votes'] = df['votes'].str.replace("people voted", " ", case = False)
df['rating']= df['rating'].str.replace(r"avg rating*.", " ", case = False)
df["Number of ratings"] = df['rating'].str.extract(r"—(.*)", expand=True)
df['Series'] = df.title.str.extract(r"[(](.*)[,|#]")
df.head()

,author,rank,rating,score,title,votes,Series,Number of ratings
0,Margaret Atwood,1,"4.09 — 1,103,055 ratings",NaN,The Handmaid's Tale,314,NaN,"1,103,055 ratings"
1,Suzanne Collins,2,"4.33 — 5,742,381 ratings",NaN,"The Hunger Games (The Hunger Games, #1)",292,"The Hunger Games,","5,742,381 ratings"
2,Mary Wollstonecraft Shelley,3,"3.78 — 1,023,619 ratings",NaN,Frankenstein,224,NaN,"1,023,619 ratings"
3,Madeleine L'Engle,4,"4.01 — 903,708 ratings",NaN,"A Wrinkle in Time (Time Quintet, #1)",196,"Time Quintet,","903,708 ratings"
4,Ursula K. Le Guin,5,"4.06 — 98,822 ratings",NaN,The Left Hand of Darkness (Hainish Cycle #4),184,Hainish Cycle,"98,822 ratings"